@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');



.watchContainer {
    text-align: center;
    background-color: rgb(235, 235, 235);
    padding: 20px;
}

.watchContainer > button {
    font-family: 'Montserrat';
    padding: 10px 20px;
    color: white;
    background-color: black;
    font-weight: bold;
    border: 1px solid black;
    margin-top: 20px;
}

.productBrand {
    font-family: 'Montserrat';
    font-size: 3vw;
    margin-top: 15px;
}

.productName {
    text-align: center;
    font-family: "Montserrat";
    font-size: 5vw;
    margin-top: 2vw;
    font-weight: 900;
}

.watchImg {
    width: 30%;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 20px 0;
}

.sliderImg0, .sliderImg1, .sliderImg2 {
    width: 90vw;
    height: 50vh;
}

.swiper-pagination {
    margin-bottom: 4vh;
}

.feetImg {
    width: 90vw;
    height: 50vh;
    margin: 10px 0 0 3vw;;
}

