{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{% static 'css/blog1.css' %}">
</head>
<body>
    
    {% include "navbar.html" %}

    <h1 class="blogHeading">Top 5 Professors on Twitter That Can Teach You Machine Learning</h1>


    <img src="{% static 'images/blog1.png' %}" alt="" class="blogImage">

    <p>In this article we will going to see those amazing 5 twitter accounts that can
        teach us Machine Learning(ML). The List are as Follow:-
    </p>

    <ol>
        <a href="https://twitter.com/gp_pulipaka"><li>Dr. Ganapathi Pulipaka(@gp_pulipaka)</li></a>
        <p>Ganapathi Pulipaka is a distinguished technology leader providing innovatory solution architecture on SAP Business systems, Enterprise application development, design engineering, management, data science, machine learning, deep learning, IoT platforms, natural language processing, and consulting delivery services offers expertise in SAP delivery execution and executive interaction as a trusted advisor.</p><br>

        <h2>Books Dr. Ganapathi Pulipaka has Wrote:</h2>
        <div class="gridBooks">

            <div class="gridBooks1"><a href="https://www.amazon.in/Big-Data-Appliances-Memory-Computing/dp/0692599576?&linkCode=li2&tag=aashishpary02-21&linkId=cf25855fff340ee33cb3ef1f8a3e9b30&language=en_IN&ref_=as_li_ss_il" target="_blank"><img border="0" src="//ws-in.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=0692599576&Format=_SL160_&ID=AsinImage&MarketPlace=IN&ServiceVersion=20070822&WS=1&tag=aashishpary02-21&language=en_IN" class="firstBookImg"></a><img src="https://ir-in.amazon-adsystem.com/e/ir?t=aashishpary02-21&language=en_IN&l=li2&o=31&a=0692599576" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></div>
            
            <div class="gridBooks2"><a href="https://www.amazon.in/Future-Data-Science-Parallel-Computing/dp/1721132910?&linkCode=li2&tag=aashishpary02-21&linkId=fee88a356a39c59bc8dab9c183aeca54&language=en_IN&ref_=as_li_ss_il" target="_blank"><img border="0" src="//ws-in.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=1721132910&Format=_SL160_&ID=AsinImage&MarketPlace=IN&ServiceVersion=20070822&WS=1&tag=aashishpary02-21&language=en_IN" class="secondBookImg"></a><img src="https://ir-in.amazon-adsystem.com/e/ir?t=aashishpary02-21&language=en_IN&l=li2&o=31&a=1721132910" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></div>

        </div><br>

        <a href="https://twitter.com/svpino"><li>Santiago(@svpino)</li></a>
        <p>Santiago says "I've had the opportunity to lead and help build applications for companies like IBM, Dell, HP, Cisco, Emerson, HSBC, Leap, PennMutual, among others. Besides this, I spend most of my time thinking about machine learning, software engineering, and helping grow the amazing team that works with me."</p><br>



        <a href="https://twitter.com/omarsar0"><li>elvis(@omarsar0)</li></a>
        <p>Elvis says "I am an educator and independent research scientist deeply interested in machine learning, NLP, and information retrieval. Some topics of interest include but are not limited to information retrieval, data analysis, transfer learning, emotion recognition, sentiment analysis, intent discovery, language modeling, AI bias & ethics, conversational AI, social computing, and computational health. I am also the founder and editor of dair.ai, a community-driven effort to democratize AI research, education, and technologies."</p><br>

        
        <a href="https://twitter.com/AndrewYNg"><li>Andrew Ng</li></a>
        <p>Andrew Yan-Tak Ng is a British-born American computer scientist, and technology entrepreneur focusing on machine learning and AI. Ng was a co-founder and head of Google Brain and was the former Chief Scientist at Baidu, building the company's Artificial Intelligence Group into a team of several thousand people. </p><br>
        
        <a href="https://twitter.com/KirkDBorne"><li>Kirk Borne(@KirkDBorne)</li></a>
        <p>Worldwide top influencer since 2013. Data Scientist. Global Speaker. Consultant. Astrophysicist. Space Scientist. Big Data & Data Science advisor, TedX speaker, researcher, blogger, Data Literacy advocate.</p><br>
    
    </ol>

</body>
</html>