{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/productDetailPage.css' %}">
</head>
<body>


    {% load cart %}

    <div class="changeBg1">
        
        {% include "navbar.html" %}<br>

        <div class="productImageContainer"><img src="{{ obj.image.url }}" alt="" class="productImage"></div><br><br><br>
        <div class="productName">{{ obj.name }}</div>
        <hr class="hr1">
        <div class="productPrice"><span>&#8377;</span> {{ obj.price }}</div>
        
        

        <div class="card-footer p-2" style="width: 400px; margin-left:auto; margin-right: auto">
            {% if obj|is_in_cart:request.session.cart %}
                <div class="row no-gutters">
                    <form action="" class="col-2" method="POST">
                        {% csrf_token %}
                        <input type="text" name="product" value="{{ obj.id }}" hidden>
                        <input type="text" name="remove" value="True" hidden>
                        <input type="submit" value=" - " class="btn btn-block btn-secondary">
                    </form>
                    <div class="text-center col">{{ obj|cart_quantity:request.session.cart }} in cart</div>
                    <form action="" class="col-2" method="POST">
                        {% csrf_token %}
                        <input type="text" name="product" value="{{ obj.id }}" hidden>
                        <input type="submit" value=" + " class="btn btn-block btn-secondary">
                    </form>
                </div>
            {% else %}
            
                <form action="" method="POST" class="btn-block">
                    {% csrf_token %}
                    <input type="text" name="product" value="{{ obj.id }}" hidden>
                    <input type="submit" class="float-right btn btn-light btn-block form-control" value="Add To Cart">
                </form>
            {% endif %}                        
        </div>


    </div><br><br>

    <div class="changeBg2">
        <div class="productDetail">PRODUCT DETAILS</div>
        <hr class="hr2">
        <div class="shippingDetails">SHIPPING & RETURNS INFO</div>
        <hr class="hr3">
        <br>
    </div>




    


</body>
</html>
